*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveFromLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    animation: moveFromRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #b8b5ff, #7868e6);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: rgba(120, 104, 230, 0.8); }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #81b214;
  color: rgba(255, 255, 255, 0.8); }
  .btn--green::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveFromBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7868e6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b8b5ff;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #b8b5ff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.first-column {
  margin: 0 2rem; }

.second-column {
  background-color: red;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem; }

/* .composition ***NOTE THAT OVERLAPPING FLEX ITEMS DID NOT WORK: COME BACK TO THIS LATER AND USE GRID LAYOUT. not hover scale also did not work {
	&_photo {
		width: 10%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
	}
 */
/* &p1 {
	}
	&p2 {
		margin-left: -10px;
	}
	&p3 {
		display: flex;
		margin-bottom: -500px;
	} 
}*/
.composition_photo {
  width: 30%;
  height: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 2rem; }
  .composition_photo:hover {
    outline: 1.5rem solid #7868e6;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

composition_p1 {
  margin-left: -100px; }

composition_p2 {
  margin-left: -100px; }

composition_p3 {
  margin-left: -100px; }

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  margin: 0 2rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex: 0 0 19%;
  transition: transform 0.3s; }
  .feature-box_icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: #7868e6; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card-1 {
    grid-column: 1/ 3;
    grid-row: 1/ 3; }
  .card-2 {
    grid-column: 3/ 4;
    grid-row: 1/ 3; }
  .card-3 {
    grid-column: 4/ 6;
    grid-row: 1/ 3; }
  .card-side {
    height: 52rem;
    width: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-side-front {
      background-color: #fff; }
    .card-side-back {
      transform: rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #e4fbff, #7868e6); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #d2e69c, #28b5b5); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #ffcc29, #81b214); }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #e4fbff, #7868e6), url(../img/mountain.jpg); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #d2e69c, #28b5b5), url(../img/lake.jpg); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #ffcc29, #81b214), url(../img/forest.jpg); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(228, 251, 255, 0.85), rgba(120, 104, 230, 0.85)); }
    .card-heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(210, 230, 156, 0.85), rgba(40, 181, 181, 0.85)); }
    .card-heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(255, 204, 41, 0.85), rgba(129, 178, 20, 0.85)); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #edeef7; }
  .card-side-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 200; }

.story {
  /* 	display: flex;
	justify-content: space-between; */
  width: 75%;
  margin: 0 auto 8rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skew(-12deg); }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg);
    position: relative; }
  .story-img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story-text {
    transform: skew(12deg); }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7868e6; }
  .form-input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form-input:placehoder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  display: flex; }

.form-group-1 {
  margin-right: 4rem; }

.form-radio-input {
  display: none; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #b8b5ff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form-radio-button::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b8b5ff;
    opacity: 0;
    transition: opacity 0.2s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(228, 251, 255, 0.8), rgba(120, 104, 230, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.about-content-container {
  display: flex;
  /* justify-content: center;
	align-items: stretch; */ }

.section-features {
  display: flex;
  justify-content: center;
  padding: 20rem 0;
  margin-top: -17rem;
  background-image: linear-gradient(to right bottom, rgba(228, 251, 255, 0.8), rgba(120, 104, 230, 0.8)), url(../img/bg-img.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20rem; }

.tours {
  display: grid;
  grid-template-columns: auto 30rem 30rem 30rem auto;
  grid-template-rows: 55rem;
  column-gap: 3rem; }

.section-stories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0; }

.section-book {
  display: flex;
  justify-content: center;
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #e4fbff, #7868e6); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/lake-2.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  height: 50rem;
  width: 80%;
  display: flex; }
  .book .form {
    width: 50%;
    padding: 6rem; }
    .book .form h2 {
      font-size: 3rem; }
