//COLORS to do: rename the variables that are not consistent

$color-primary: #b8b5ff;
$color-primary-light: #e4fbff;
$color-primary-dark: #7868e6;

$color-secondary-light: #ffcc29;
$color-secondary-dark: #81b214;
$color-secondary-darker: #ff7730;

$color-tertiary-light: #d2e69c;
$color-tertiary-dark: #28b5b5;

$color-light-grey-1: #f7f7f7;
$color-light-grey: #edeef7;
$color-grey-dark: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.6rem;
