.section-about {
	background-color: $color-light-grey-1;
	padding: 25rem 0;
	margin-top: -20vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	@include respond(tab-port) {
		padding: 20rem 0;
	}
}
.about-content-container {
	display: flex;

	@include respond(tab-port) {
		flex-direction: column;
	}
}

.section-features {
	display: flex;
	justify-content: center;
	padding: 20rem 0;
	margin-top: -17rem;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/Home_img_3.jpg);
	background-size: cover;
	-webkit-clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);

	@include respond(tab-port) {
		padding: 10rem 0;
		flex-direction: column;
		clip-path: none;
		background-image: none;
	}
}

.section-retreats {
	background-color: $color-light-grey-1;
	padding: 25rem 0 15rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -20rem;

	@include respond(tab-port) {
		padding: 20rem 0 10rem 0;
	}
}
.retreats {
	display: grid;
	grid-template-columns: auto 30rem 30rem 30rem auto;
	grid-template-rows: 55rem;
	column-gap: 3rem;
	@include respond(tab-port) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 55rem auto 55rem auto 55rem auto;
		row-gap: 4rem;
	}
}

.section-stories {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
}

.section-book {
	display: flex;
	justify-content: center;
	padding: 15rem 0;
	background-image: linear-gradient(
		to right bottom,
		$color-primary-light,
		$color-primary-dark
	);
}

.book {
	//solid color gradient:
	background-image: linear-gradient(
			105deg,
			rgba($color-white, 0.9) 0%,
			rgba($color-white, 0.9) 50%,
			transparent 50%
		),
		url(../img/lake-2.jpg);
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	width: 80%;
	display: flex;

	@include respond(tab-land) {
		background-image: linear-gradient(
				105deg,
				rgba($color-white, 0.9) 0%,
				rgba($color-white, 0.9) 65%,
				transparent 65%
			),
			url(../img/lake-2.jpg);
	}

	@include respond(tab-port) {
		background-image: linear-gradient(
				to right,
				rgba($color-white, 0.9) 0%,
				rgba($color-white, 0.9) 100%
			),
			url(../img/lake-2.jpg);
	}

	.form {
		width: 50%;
		padding: 6rem;

		h2 {
			font-size: 3rem;
		}
		@include respond(tab-land) {
			width: 65%;
		}
		@include respond(tab-land) {
			width: 100%;
		}
	}
}
